.column {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    gap: 2rem;
    flex-direction: row;
}

@media (max-width: 767px) {
    .column {
        flex-direction: column;
    }

    .illustration {
        display: none;
        /* optional */
    }
}